.media-type-list {
    .btn-secondary {
        background-color: $secondary;
        color: $text-light;
        border: none;

        &:hover {
            background-color: darken($secondary, 10%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        &:focus {
            background-color: darken($secondary, 15%);
            outline: none;
            box-shadow: 0 0 0 3px rgba($secondary, 0.25);
        }
    }

    .btn-danger {
        background-color: $warning;
        color: $text-light;
        border: none;

        &:hover {
            background-color: darken($warning, 10%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        &:focus {
            background-color: darken($warning, 15%);
            outline: none;
            box-shadow: 0 0 0 3px rgba($warning, 0.25);
        }
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: $text-dark;

        thead {
            background-color: $custom-dark-color;
            color: $text-light;

            th {
                padding: 0.75rem;
            }
        }

        tbody {
            tr {
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: lighten($primary, 40%);
                }

                td {
                    padding: 0.75rem;
                }
            }
        }
    }

    // Mobile Styles
    @media (max-width: 767.98px) {
        // Adjust table styles for mobile
        .table {
            font-size: 0.85rem; // Reduce font size for better fit on mobile

            thead {
                th {
                    padding: 0.5rem; // Adjust padding for smaller screens
                }
            }

            tbody {
                td {
                    padding: 0.5rem; // Adjust padding for better readability on mobile
                }
            }
        }

        // Stack buttons vertically on smaller screens
        .btn-secondary, .btn-danger {
            width: 100%; // Full width buttons on mobile
            text-align: center; // Center button text
            padding: 0.4rem 0.75rem; // Adjust padding for smaller buttons
            margin-bottom: 0.5rem; // Add space between stacked buttons
        }

        .btn-secondary, .btn-danger:hover {
            transform: none; // Remove hover effect for mobile
        }

        .btn-secondary, .btn-danger:focus {
            box-shadow: none; // Simplify focus effect for mobile
        }
    }
}
