.media-type-list {
    .btn-secondary {
        background-color: $secondary;
        color: $text-light;
        border: none;

        &:hover {
            background-color: darken($secondary, 10%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        &:focus {
            background-color: darken($secondary, 15%);
            outline: none;
            box-shadow: 0 0 0 3px rgba($secondary, 0.25);
        }
    }

    .btn-danger {
        background-color: $warning;
        color: $text-light;
        border: none;

        &:hover {
            background-color: darken($warning, 10%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        &:focus {
            background-color: darken($warning, 15%);
            outline: none;
            box-shadow: 0 0 0 3px rgba($warning, 0.25);
        }
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: $text-dark;

        thead {
            background-color: $custom-dark-color;
            color: $text-light;

            th {
                padding: 0.75rem;
            }
        }

        tbody {
            tr {
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: lighten($primary, 40%);
                }

                td {
                    padding: 0.75rem;
                }
            }
        }
    }
}
